* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 500px;
}

.container .result {
  width: 50%;
  height: 380px;
  border-radius: 25px;
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* gap: 60px; */
  align-items: center;
  /* padding: 10px; */
}

.container .result h1 {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 30px;
}

.value ~ div {
  text-align: center;
  margin-top: 30px;
}

.value ~ div p {
  font-size: 14px;
  opacity: 0.7;
  width: 180px;
  line-height: 20px;
  margin-top: 10px;
}

.result .value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0) 0%,
    hsla(256, 72%, 46%)
  );
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.value p {
  font-size: 70px;
  font-weight: 700;
}

.value label {
  opacity: 0.8;
}

.container .summary {
  width: 50%;
  height: 380px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



